@*
    --------------------------------------------------------
        <copyright company="Everis Centers S.L.U">
            Copyright (c) Sevilla HPC. All rights reserved.
        </copyright>
    --------------------------------------------------------
*@

@{
    ViewData["Title"] = "Polar";
}

<div align="center">
    <img src="~/images/logopolar.png" />
</div>
<br />
<br />

<div>
    <p>
        Es el nuevo amigo que va a guiarnos y servirnos de referencia a todos y cada uno de nosotros como desarrolladores en cada proyecto.  Pretende unificar todas y cada una de las buenas practicas y reutilización de documentación para tratar que todos y cada uno de los proyectos sean lo más homogéneos posible, ahorrar lo máximo posible en la toma decisiones o análisis de alternativas y, todo ello apoyándonos en experiencias previas de otros proyectos. ¡ Lo mejor de cada uno !
        Es un FRAMEWORK (o Marco de Trabajo), que agrupa todas las necesidades que puedan surgir en un proyecto, simplificando y ejemplificando su uso apoyándose en un conjunto de artefactos o componentes básicos, tanto a nivel de código, herramientas, activos, como a nivel de documentación o incluso formación.
    </p>
    <img src="~/images/Framework_Picture.png" />
</div>